$primaryColor: #FF1F71;
$secundaryColor: #1BD5EE;
$greyColor: #D4D4D4;
$radius: 2.3rem;
$font: 'Fredoka', sans-serif;
:root{
    --primary-color: #FF1F71;
    --secundary-color: #1BD5EE;
    --grey-color: #D4D4D4;
    --grey-line-color: #0000001c;
    --black-light: #666666;
    --white-color: #fff;
    --radius: 2.3rem;
    --font: 'Fredoka', sans-serif;
}